@import "../../variables.scss";

.searchBox {
  margin: $base-spacing * 2;
  padding: $base-spacing;
  input {
    height: auto;
    width: 10rem;
    font-size: 1rem;
    border: none;
    border-bottom: $primary-border;
    color: $primary-color;

    &:focus {
      outline: none;
      border-color: $secondary-color;
      color: $secondary-color;
    }

    &::placeholder {
      color: $tertiary-text;
    }
  }
}
