.page{
    display: flex;
    flex-direction: row;
}
.main{
    height: 100vh;
    width: calc(100vw - 15rem);
    border: black solid 2px;
}

.navbar {
    height: 100vh;
    width: 15rem;
    border: black solid 2px;  
}
